<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h2 class="p-3">List of colors</h2>
    <div class="list-group">
      <div class="row px-3 py-1 w-100">
        <span class="col py-1 bg-info">Color name:</span>
      </div>
    <% colors.forEach(function(color) { %>
        <div class="row px-3 py-1 w-100">
          <span class="col py-1 bg-light"><%=color.Name%></span>
        </div>
      <% }); %>
    </div>
  </body>
</html>
